In [1]:
#specify the statements which will be considered as a document. in short, from now, Document == Statement
docA = "My name is Mango Man"
docB = "Mango Man currently resides in India"
docC = "Mango Man likes the season of summer"
docD = "Summers are amazing in India"
docE = "Mango is the fruit of the season summer"
docF = "Among the fruit, Mango fruit is called the king of fruit"
docG = "Apart from the Mango fruit out of all the fruits, watermelon fruit is the other fruit available in summer"

In [2]:
#Making the Bag of Words (bow) for each document
#split function splits the document by the space
bowA = docA.split(" ")
bowB = docB.split(" ")
bowC = docC.split(" ")
bowD = docD.split(" ")
bowE = docE.split(" ")
bowF = docF.split(" ")
bowG = docG.split(" ")

In [3]:
#bowE

In [4]:
wordset = set(bowA).union(set(bowB)).union(set(bowC)).union(set(bowD)).union(set(bowE)).union(set(bowF)).union(set(bowG))

In [5]:
type(wordset)

set

In [6]:
wordDictA = dict.fromkeys(wordset, 0)
wordDictB = dict.fromkeys(wordset, 0)
wordDictC= dict.fromkeys(wordset, 0)
wordDictD = dict.fromkeys(wordset, 0)
wordDictE = dict.fromkeys(wordset, 0)
wordDictF = dict.fromkeys(wordset, 0)
wordDictG = dict.fromkeys(wordset, 0)

In [7]:
#wordDictA

In [8]:
for word in bowA:
    wordDictA[word]+=1
for word in bowB:
    wordDictB[word]+=1
for word in bowC:
    wordDictC[word]+=1
for word in bowD:
    wordDictD[word]+=1
for word in bowE:
    wordDictE[word]+=1
for word in bowF:
    wordDictF[word]+=1
for word in bowG:
    wordDictG[word]+=1

In [9]:
#wordDictA

In [10]:
import pandas as pd
pd.set_option('display.max_columns', 40)
pd.DataFrame([wordDictA,wordDictB,wordDictC,wordDictD,wordDictE,wordDictF,wordDictG])

,Among,Apart,India,Man,Mango,My,Summers,all,amazing,are,available,called,currently,from,fruit,"fruit,","fruits,",in,is,king,likes,name,of,other,out,resides,season,summer,the,watermelon
0,0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0
1,0,0,1,1,1,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0
2,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,1,1,1,0
3,0,0,1,0,0,0,1,0,1,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,1,2,0
5,1,0,0,0,1,0,0,0,0,0,0,1,0,0,2,1,0,0,1,1,0,0,1,0,0,0,0,0,2,0
6,0,1,0,0,1,0,0,1,0,0,1,0,0,1,3,0,1,1,1,0,0,0,1,1,1,0,0,1,3,1

In [11]:
#computing the term frequency; which means the number of times the word
#is repeating in the document divided by the total number of words

#Formula: TF(word)= (number of word occuring in document/ total number of document)

def computeTF(wordDict, bow):
    tfDict = {}
    bowCount = len(bow)
    for word, count in wordDict.items():
        tfDict[word] = count/float(bowCount)
    return tfDict

In [12]:
tfBowA = computeTF(wordDictA,bowA)
tfBowB = computeTF(wordDictB,bowB)
tfBowC = computeTF(wordDictC,bowC)
tfBowD = computeTF(wordDictD,bowD)
tfBowE = computeTF(wordDictE,bowE)
tfBowF = computeTF(wordDictF,bowF)
tfBowG = computeTF(wordDictG,bowG)

In [13]:
tfBowA

{'is': 0.2,
 'Among': 0.0,
 'out': 0.0,
 'summer': 0.0,
 'Mango': 0.2,
 'fruit,': 0.0,
 'other': 0.0,
 'amazing': 0.0,
 'called': 0.0,
 'watermelon': 0.0,
 'in': 0.0,
 'are': 0.0,
 'of': 0.0,
 'India': 0.0,
 'all': 0.0,
 'Man': 0.2,
 'My': 0.2,
 'likes': 0.0,
 'king': 0.0,
 'Apart': 0.0,
 'fruit': 0.0,
 'the': 0.0,
 'Summers': 0.0,
 'available': 0.0,
 'currently': 0.0,
 'fruits,': 0.0,
 'name': 0.2,
 'resides': 0.0,
 'from': 0.0,
 'season': 0.0}

In [14]:
#len(tfBowA)

In [15]:
#inverse document frequency
#this means how infrequent the word is
# higher the occurence of word, lower the IDF of that word will be

#Formula is IDF(word) = log(Number of documents/Occurence of word in separate Documents)

def computeIDF(docList):
    import math
    idfDict = {}
    N = len(docList)
    
    idfDict = dict.fromkeys(docList[0].keys(), 0)
    for doc in docList:
        for word, val in doc.items():
            if val > 0:
                idfDict[word] += 1
    
    for word, val in idfDict.items():
        idfDict[word] = math.log10(N / float(val))
        
    return idfDict

In [16]:
idfs = computeIDF([wordDictA, wordDictB, wordDictC, wordDictD, wordDictE, wordDictF, wordDictG])

In [17]:
#len(idfs)

In [18]:
idfs

{'is': 0.24303804868629444,
 'Among': 0.8450980400142568,
 'out': 0.8450980400142568,
 'summer': 0.36797678529459443,
 'Mango': 0.06694678963061322,
 'fruit,': 0.8450980400142568,
 'other': 0.8450980400142568,
 'amazing': 0.8450980400142568,
 'called': 0.8450980400142568,
 'watermelon': 0.8450980400142568,
 'in': 0.36797678529459443,
 'are': 0.8450980400142568,
 'of': 0.24303804868629444,
 'India': 0.5440680443502757,
 'all': 0.8450980400142568,
 'Man': 0.36797678529459443,
 'My': 0.8450980400142568,
 'likes': 0.8450980400142568,
 'king': 0.8450980400142568,
 'Apart': 0.8450980400142568,
 'fruit': 0.36797678529459443,
 'the': 0.24303804868629444,
 'Summers': 0.8450980400142568,
 'available': 0.8450980400142568,
 'currently': 0.8450980400142568,
 'fruits,': 0.8450980400142568,
 'name': 0.8450980400142568,
 'resides': 0.8450980400142568,
 'from': 0.8450980400142568,
 'season': 0.5440680443502757}

In [19]:
def computeTFIDF(tfBow, idfs):
    tfidf = {}
    for word, val in tfBow.items():
        tfidf[word] = val*idfs[word]
    return tfidf

In [20]:
tfidfBowA = computeTFIDF(tfBowA, idfs)
tfidfBowB = computeTFIDF(tfBowB, idfs)
tfidfBowC = computeTFIDF(tfBowC, idfs)
tfidfBowD = computeTFIDF(tfBowD, idfs)
tfidfBowE = computeTFIDF(tfBowE, idfs)
tfidfBowF = computeTFIDF(tfBowF, idfs)
tfidfBowG = computeTFIDF(tfBowG, idfs)

In [21]:
import pandas as pd
pd.DataFrame([tfidfBowA, tfidfBowB, tfidfBowC, tfidfBowD, tfidfBowE, tfidfBowF, tfidfBowG])

,Among,Apart,India,Man,Mango,My,Summers,all,amazing,are,available,called,currently,from,fruit,"fruit,","fruits,",in,is,king,likes,name,of,other,out,resides,season,summer,the,watermelon
0,0.000000,0.000000,0.000000,0.073595,0.013389,0.16902,0.00000,0.000000,0.00000,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.048608,0.000000,0.000000,0.16902,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.090678,0.061329,0.011158,0.00000,0.00000,0.000000,0.00000,0.00000,0.000000,0.000000,0.14085,0.000000,0.000000,0.000000,0.000000,0.061329,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.14085,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.052568,0.009564,0.00000,0.00000,0.000000,0.00000,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.120728,0.00000,0.034720,0.000000,0.000000,0.00000,0.077724,0.052568,0.034720,0.000000
3,0.000000,0.000000,0.108814,0.000000,0.000000,0.00000,0.16902,0.000000,0.16902,0.16902,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.073595,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.000000,0.000000,0.008368,0.00000,0.00000,0.000000,0.00000,0.00000,0.000000,0.000000,0.00000,0.000000,0.045997,0.000000,0.000000,0.000000,0.030380,0.000000,0.000000,0.00000,0.030380,0.000000,0.000000,0.00000,0.068009,0.045997,0.060760,0.000000
5,0.076827,0.000000,0.000000,0.000000,0.006086,0.00000,0.00000,0.000000,0.00000,0.00000,0.000000,0.076827,0.00000,0.000000,0.066905,0.076827,0.000000,0.000000,0.022094,0.076827,0.000000,0.00000,0.022094,0.000000,0.000000,0.00000,0.000000,0.000000,0.044189,0.000000
6,0.000000,0.044479,0.000000,0.000000,0.003524,0.00000,0.00000,0.044479,0.00000,0.00000,0.044479,0.000000,0.00000,0.044479,0.058102,0.000000,0.044479,0.019367,0.012791,0.000000,0.000000,0.00000,0.012791,0.044479,0.044479,0.00000,0.000000,0.019367,0.038374,0.044479